.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background-image: url("../../assets/login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form{
    background: rgba(255,255,255,0.95);
    padding:35px;
    width:320px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    gap:12px;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.title{
    text-align:center;
    margin-bottom:10px;
    color:#333;
}

label{
    font-size:14px;
    color:#333;
}

input{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    outline:none;
    font-size:14px;
}

input:focus{
    border-color:orange;
}

button{
    margin-top:10px;
    padding:10px;
    border:none;
    border-radius:5px;
    background:orange;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:darkorange;
}